In [1]:
import pandas as pd
from random import randint

ds = pd.read_csv('TRNcod.xls', delimiter = "\t")

# Shuffle no dataset
ds = ds.sample(frac=1).reset_index(drop=True)

In [2]:
# print([d for d in ds.columns])

In [190]:
# inadimplentes = pd.DataFrame(list(filter(lambda x: x == 1, ds['IND_BOM_1_2'])))

# Selecionando quem é inadimplente
inadimplentes = ds[ds['IND_BOM_1_2'] == 1]

# Selecionando quem é adimplente
adimplente = ds[ds['IND_BOM_1_2'] == 0]

global treino_ina
global teste_ina
global valid_ina
global treino_adi
global teste_adi
global valid_adi

# Dividindo datasets
treino_ina = inadimplentes[:int(len(inadimplentes)/2)]
teste_ina  = inadimplentes[int(len(inadimplentes)/2):int((len(inadimplentes)*3)/4)]
valid_ina  = inadimplentes[int((len(inadimplentes)*3)/4):]

treino_adi = adimplente[:int(len(adimplente)/2)]
teste_adi  = adimplente[int(len(adimplente)/2):int((len(adimplente)*3)/4)]
valid_adi  = adimplente[int((len(adimplente)*3)/4):]

# Equalizando tamanho de datasets treino e validação dos inadimplentes ao de adimplentes
treino_ina = treino_ina.loc[treino_ina.index.repeat(2)].drop('INDEX', axis=1)
treino_ina["COPIA"] = treino_ina.duplicated()
treino_ina.sort_values(by="COPIA", inplace=True, ignore_index=True)
treino_ina = treino_ina.iloc[ : -(len(treino_adi) - len(treino_ina)), :  ]
treino_ina.drop(columns=["COPIA"], axis=1)

valid_ina  = valid_ina.loc[valid_ina.index.repeat(2)].drop('INDEX', axis=1)
valid_ina["COPIA"] = valid_ina.duplicated()
valid_ina.sort_values(by="COPIA", inplace=True, ignore_index=True)
valid_ina = valid_ina.iloc[ : -(len(valid_adi) - len(valid_ina)), :  ]
valid_ina.drop(columns=["COPIA"], axis=1)
# Fim da equalização

print('Tamanhos de inadimplentes: \nTreino: {}\nTeste: {}\nValidação: {}\n'.format(len(treino_ina.values), len(teste_ina.values), len(valid_ina.values)))
print('Tamanhos de adimplentes: \nTreino: {}\nTeste: {}\nValidação: {}\n'.format(len(treino_adi.values), len(teste_adi.values), len(valid_adi.values)))
print('Colunas: {}'.format(len([d for d in ds.columns])))

,UF_1,UF_2,UF_3,UF_4,UF_5,UF_6,UF_7,IDADE,SEXO_1,NIVEL_RELACIONAMENTO_CREDITO01,...,CEP4_7,CEP4_8,CEP4_9,CEP4_10,CEP4_11,CEP4_12,CEP4_13,CEP4_14,IND_BOM_1_1,IND_BOM_1_2
0,0,1,0,0,1,0,1,0.395440,0,0.111111,...,1,1,1,1,1,0,0,0,0,1
1,0,0,1,1,1,0,0,0.093639,1,0.111111,...,0,0,0,1,0,1,0,1,0,1
2,1,1,0,1,0,0,0,0.458027,0,0.111111,...,1,1,1,0,1,0,1,0,0,1
3,1,1,1,0,0,0,0,0.271119,0,0.111111,...,1,0,0,0,1,0,1,0,0,1
4,0,1,1,0,0,0,1,0.572693,0,0.111111,...,0,0,1,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60495,1,1,1,0,0,0,0,0.946963,0,0.111111,...,0,0,0,1,0,1,0,1,0,1
60496,1,1,1,0,0,0,0,0.648740,0,0.111111,...,1,0,1,1,1,1,0,0,0,1
60497,0,1,1,1,0,0,0,0.125954,1,0.111111,...,1,0,0,1,1,0,0,1,0,1
60498,0,1,1,0,1,0,0,0.382264,1,0.111111,...,0,0,0,0,0,1,1,1,0,1
60499,1,1,0,0,0,0,1,0.234544,0,0.111111,...,1,0,0,1,1,0,1,0,0,1

In [ ]:
# Esquema de experimentação (passo a passo do que vamos testar)
# MLP & Random Forest

In [ ]:
# https://machinelearningmastery.com/how-to-reduce-overfitting-with-dropout-regularization-in-keras/

from keras.layers import Dropout, Dense
from keras.models import Sequential

# MLP
model = Sequential()

# Dropout
layer = Dropout(randint(0,100)/100)

# Regularização
# ???

rapido = {
    'tr_ina': treino_ina[:1000],
    'ts_ina': teste_ina[:1000],
    'vl_ina': valid_ina[:1000],
    'tr_adi': treino_adi[:1000],
    'ts_adi': teste_adi[:1000],
    'vl_adi': valid_adi[:1000]
}

model.append(Dense(64))
model.append(Dropout(0.5))
model.append(Dense(64))
model.compile(loss='binary_crossentropy', optimizer='adam')
# trX, trY, vaL, epochs, verbose = 
# history = model.fit()