In [1]:
import pandas as pd
from random import randint

ds = pd.read_csv('TRNcod.xls', delimiter = "\t")

In [ ]:
# print([d for d in ds.columns])

In [8]:
# inadimplentes = pd.DataFrame(list(filter(lambda x: x == 1, ds['IND_BOM_1_2'])))

# Selecionando quem é inadimplente
inadimplentes = ds[ds['IND_BOM_1_2'] == 1]

# Selecionando quem é adimplente
adimplente = ds[ds['IND_BOM_1_2'] == 0]

# Dividindo datasets
global treino_ina
global teste_ina
global valid_ina
global treino_adi
global teste_adi
global valid_adi

# Equiparando tamanho de inadimplentes ao de adimplentes
# def repeticao():
treino_ina = inadimplentes[:int(len(inadimplentes)/2)]
teste_ina  = inadimplentes[int(len(inadimplentes)/2):int((len(inadimplentes)*3)/4)]
valid_ina  = inadimplentes[int((len(inadimplentes)*3)/4):]

treino_adi = adimplente[:int(len(adimplente)/2)]
teste_adi  = adimplente[int(len(adimplente)/2):int((len(adimplente)*3)/4)]
valid_adi  = adimplente[int((len(adimplente)*3)/4):]

while(len(treino_ina) < len(treino_adi)):
    nova_linha = treino_ina.iloc[randint(0, len(treino_ina))]
    # print(len(treino_ina), '|', len(treino_adi), ' ', end="")
    treino_ina = pd.concat([treino_ina, nova_linha], ignore_index=True)

while(len(teste_ina) < len(teste_adi)):
    nova_linha = teste_ina.iloc[randint(0, len(teste_ina))]
    # print(len(teste_ina), '|', len(teste_adi), ' ', end="")
    teste_ina  = pd.concat([teste_ina, nova_linha], ignore_index=True)

# repeticao()

print('Tamanhos de inadimplentes: \nTreino: {}\nTeste: {}\nValidação: {}\n'.format(len(treino_ina), len(teste_ina), len(valid_ina)))
print('Tamanhos de adimplentes: \nTreino: {}\nTeste: {}\nValidação: {}'.format(len(treino_adi), len(teste_adi), len(valid_adi)))

In [4]:
print('Tamanhos de inadimplentes: \nTreino: {}\nTeste: {}\nValidação: {}\n'.format(len(treino_ina), len(teste_ina), len(valid_ina)))

Tamanhos de inadimplentes:
Treino: 67049
Teste: 33524
Validação: 33525

In [80]:
treino_ina.tail()

,INDEX,UF_1,UF_2,UF_3,UF_4,UF_5,UF_6,UF_7,IDADE,SEXO_1,...,CEP4_7,CEP4_8,CEP4_9,CEP4_10,CEP4_11,CEP4_12,CEP4_13,CEP4_14,IND_BOM_1_1,IND_BOM_1_2
195039,195039,1,1,1,0,0,0,0,0.531518,0,...,1,0,1,1,1,0,0,1,0,1
195042,195042,1,0,1,0,1,0,0,0.460923,0,...,0,1,1,1,0,1,1,0,0,1
195044,195044,1,1,1,0,0,0,0,0.273050,0,...,0,0,1,1,0,1,1,0,0,1
195046,195046,1,1,1,0,0,0,0,0.390897,1,...,0,0,0,0,1,1,1,0,0,1
195048,195048,1,0,1,1,0,0,0,0.485742,0,...,0,1,1,0,1,0,0,0,0,1